body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  /* Container */
  .signup-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Heading */
  h2 {
    text-align: center;
    color: #333;
  }
  
  /* Form */
  .signup-form {
    display: flex;
    flex-direction: column;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type="submit"] {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  

  @keyframes shakeAnimation {
    0% { transform: translateX(0); }
    10% { transform: translateX(-10px) rotate(-5deg); }
    20% { transform: translateX(10px) rotate(5deg); }
    30% { transform: translateX(-10px) rotate(-5deg); }
    40% { transform: translateX(10px) rotate(5deg); }
    50% { transform: translateX(-10px) rotate(-5deg); }
    60% { transform: translateX(10px) rotate(5deg); }
    70% { transform: translateX(-10px) rotate(-5deg); }
    80% { transform: translateX(10px) rotate(5deg); }
    90% { transform: translateX(-10px) rotate(-5deg); }
    100% { transform: translateX(0); }
  }
  
  @keyframes redFlash {
    0% { background-color: red; }
    50% { background-color: white; }
    100% { background-color: red; }
  }
  
  .red-flash {
    animation: redFlash 20s, shakeAnimation 1s;
  }

  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  #error-message {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    animation: slideUp 0.5s ease-in-out;

  }